#Python Data Structure

#1. What are data structures, and why are they important?
  - Data structure is the crucial part of the data science and the programming
   language because it allows us to organize and store the data in computer so that we can use it efficiently and easily access it. It used in many different applications, like operating systems, database, websites, and machine learning.

#2. Difference between mutable and immutable data types with examples.
  - Mutable means that we can change the data after the creation.
     Example:    
                my_list = [1, 2, 3]
                my_list[0] = 10  #The list is now changed

  - Immutable means we can't change the data after the creation.
     Example:
                my_string = "good"
                my_string[0] = "G"  #This will cause an error

#3. Main differences between lists and tuples in Python?
   - Features of list and tuples are:
     1. List can be changeable whereas tuples can't be changeable.
     2. List uses the square brackets [] Syntax whereas tuplese uses the
        parentheses () syntax.
     3. List speed is slower and tuple speed is faster.
     4. List are changing data case and tuple are fixed, unchanging data case.

#4. Describe how dictionaries store data.
   - Dictionaries are used to store the data key and values in pairs. It is
     changable but do not allow for duplicate like the phone number and name.
     Example:
                person = {"name": "Alice", "age": 25}
                #"name" is the key, "Alice" is the value

#5. Why might you use a set instead of a list in Python?
   - Sets helps us to remove the duplicates automatically and it is faster for
     checking if something is present.
     Example:
               numbers = {1, 2, 3, 2}
               #The set will be {1, 2, 3} because duplicates are not allowed

#6. What is a string in Python, and how is it different from a list?
   - String is sequence of characters between single or double quotes like
     "hello" whereas list is a sequence of items, it could be anything (an integer, a float, a string, etc.).
     1. Strings are immutable (you can’t change the individual letters).
     2. Lists are mutable (you can change the items).

#7.  How do tuples ensure data integrity in Python?
 - Tuples are immutable, that ensures that their values or content remains constant and can't be changed or modified. This protects data from being accidentally modified.

#8. What is a hash table, and how does it relate to dictionaries in Python?
   - Hash table is data structure that stores the key and values in a pairs using a special functions called as hash table. In Python, dictionaries are built on hash tables for fast lookups.

#9.  Can lists contain different data types in Python?
  - Yes! A list can have numbers, strings, or other lists all together:
              my_list = [1, "hello", [3, 4]]

#10. Explain why strings are immutable in Python.
  - Strings are immutable in Python because once the object is created, we can't change it and it is used to make them faster, safer, and easier to manage when used in multiple places.

#11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries offers a advantage over list for task that requires a searching for a specific data like searching for a large database or finding a person's name by ID number is faster with a dictionary. Dictionaries are faster than a list becuase they use the hash tables for lookup.

#12. Describe a scenario where using a tuple would be preferable over a list.
   - Tuples are safe from any accidental modification when making a code. If a data requires not to change or modified, then tuples are good to put instead of list, like coordinates:
                  coordinates = (10, 20)

#13. How do sets handle duplicate values in Python?
   - The sets automatically removes the duplicate values.
     Example:
                 set_example = {1, 2, 2, 3}  #Becomes {1, 2, 3}

#14.  How does the “in” keyword work differently for lists and dictionaries?
    - In lists, it checks if a value is present:
                1 in [1, 2, 3]  #True
    - In dictionaries, it checks for the key, not the value:
                "name" in {"name": "Alice"}  #True

#15. Can you modify the elements of a tuple? Explain why or why not.
   - No, Tuples are immutable. Once, it is created, we can't modify or change the values of a tuples to protect data integrity.

#16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary that contains other dictionaries. It is the way to organize or to store the complex data into multiple layers like student records.
   Example:
              student = {"name": "John", "grades": {"math": 90, "science": 85}}

#17. Describe the time complexity of accessing elements in a dictionary.
   - Accessing an element by key in a dictionary has O(1) time complexity, meaning it is very fast. However, in the worst case, it can be O(n) if there are many collisions.

#18. In what situations are lists preferred over dictionaries?
   - List are best when you need to store large number of data in a sequence order and access them by their position.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries are considered as unordered because it stores a large number of data and do'not follow the sequence. It affect in data retrieval by its speed, it is faster and fetch the data by its key quickly whereas the list follow the sequence.

#20.Explain the difference between a list and a dictionary in terms of data retrieval.
   - List retrieval is done by using a index/position.
     Example: list[0] gets the first item.

   - Dictionaries retrieval is done by using a key.
     Example: dict("name") is gets associated with the key "name".

In [1]:
#1. Write a code to create a string with your name and print it.
name="Reena"
print(name)

Reena

In [6]:
#2. Write a code to find the length of the string "Hello World".
length=(len("Hello World"))
print(length)

11

In [7]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
s="Python Programming"
s2=s[:3]
print(s2)

Pyt

In [8]:
#4. Write a code to convert the string "hello" to uppercase.
s="hello"
s2=s.upper()
print(s2)

HELLO

In [9]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s="I like apple"
s2=s.replace("apple", "orange")
print(s2)

I like orange

In [11]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers=[1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [25]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
s=[1, 2, 3, 4]
s.append(10)
print(s)

[1, 2, 3, 4, 10]

In [26]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
s=[1, 2, 3, 4, 5]
s.remove(3)
print(s)

[1, 2, 4, 5]

In [27]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
s=['a', 'b', 'c', 'd']
s2=s[1]
print(s2)

b

In [30]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
s=[10, 20, 30, 40, 50]
s.reverse()
print(s)

[50, 40, 30, 20, 10]

In [31]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
s=(10, 20, 30)
print(s)

(10, 20, 30)

In [33]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
s=('apple', 'banana', 'cherry')
s2=s[0]
print(s2)

apple

In [36]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
s=(1, 2, 3, 2, 4, 2)
s2=s.count(2)
print(s2)

3

In [37]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
s=('dog', 'cat', 'rabbit')
s2=s.index("cat")
print(s2)

1

In [38]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
s=('apple', 'orange', 'banana')
s2='banana'in s
print(s2)

True

In [39]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s={1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

In [42]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
s={1, 2, 3, 4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}

In [44]:
#18, 19, 20, 21, 22, 23, 24 same repeated question.